.landing {
  background-image: url("./components/images/pexels-henry-&-co-1939485.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  background: #6a11cb;
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 0.9),
    rgba(37, 117, 252, 0.9)
  );
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 0.9),
    rgba(37, 117, 252, 0.9)
  );
}

body {
  /* background-image: url("../src//components//images/paper.avif"); */
  /* background-color: #0a0941; */
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  min-height: 100vh;
}

.lform {
  border: 5px solid greenyellow;
  background: linear-gradient(to right, #ff6b6b, yellow);
}

.logs {
  background-image: url("./components/images/login.avif");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.userc {
  min-height: 100vh;
  background-image: url("../src/components/images/userdetails.avif");
  background-size: cover;
  background-position: center;
}

.userdata {
  border: 2px solid yellow;
  border-radius: 10px;
}

.alltypeimages {
  background: linear-gradient(to right, purple, violet, lightblue, lightpink);
}

.same {
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 770px) {
  .cat {
    height: fit-content;
    /* display: none; */
  }
}

.cat {
  height: fit-content;
}

.create-product {
  max-width: 700px;
}

.nav-item a {
  border-bottom: none;
  transition: all 0.7s ease-in-out;
}

.nav-item a:hover {
  border-bottom: 0.2px solid #00bf72;
}

.for {
  max-width: 600px;
}

.register {
  background-color: rgb(20, 6, 50);
  width: 100%;
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  color: aliceblue;
  border: 0.1px solid blue;
  border-radius: 10px;
  transition: border 0.5s ease-in-out;
}

.registration:hover {
  border: 0.1px solid rgb(20, 6, 50);
}

.admin {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.admin_left {
  max-width: 450px;
  text-align: center;
  display: flex;
  justify-content: center;
  float: left;
}

.users {
  background-color: #f2f2f2;
  /* padding: 20px; */
  border-radius: 10px;
}

.users h1 {
  margin-bottom: 20px;
  color: #333;
}

.users_list {
  width: 100%;
}

.users_list .thead th {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.users_list .tbody td {
  padding: 10px;
}

.users_list .tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.users_list .tbody tr:hover {
  background-color: #ddd;
}

.hovering {
  color: black;
  transition: color 1s ease-in-out;
}

.hovering:hover {
  color: #00bf72;
}

.for {
  border: 2px solid rgb(9, 9, 58);
  padding: 30px;
  border-radius: 20px;
}

.grad {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
